p {
    width: 60%;
}

.column {
    float: left;
    width: 30%;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    padding-bottom: 10px;
    padding-top: 10px;
    list-style-type: decimal;
    list-style-position: inside;
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
} 