.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    padding: 15px;
    background-color: #dddddd;
    color: #000000;
    text-decoration: none;
}

.topnav a:hover {
    background-color: lightgrey;
}

.topnav a.active {
    background-color: darkgrey;
}

