<h1>Learning Angular App</h1>
<nav class="topnav">
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
  <a routerLink="interpolation" routerLinkActive="active">INTERPOLATION</a>
  <a routerLink="property-binding" routerLinkActive="active">PROPERTY BINDING</a>
  <a routerLink="class-binding" routerLinkActive="active">CLASS BINDING</a>
  <a routerLink="style-binding" routerLinkActive="active">STYLE BINDING</a>
  <a routerLink="event-binding" routerLinkActive="active">EVENT BINDING</a>
  <a routerLink="two-way-binding" routerLinkActive="active">TWO-WAY BINDING</a>
  <a routerLink="get-and-post" routerLinkActive="active">GET AND POST</a>
  <a routerLink="user-form" routerLinkActive="active">FORM</a>
  <a routerLink="stats" routerLinkActive="active">PLAYER STATS</a>
  <br>
</nav>
<router-outlet></router-outlet>
